<h1 align="center" style="color:black">All Products</h1><br>

<h4 align="left"><%= form_tag(products_path, :method => "get", id: "search-form") do %>
  <p>
  <%=text_field_tag :name %>
  <%= submit_tag "search", class:"btn btn-success" %>
  </p></h4>
<% end %>

<table border="2px" width="100%" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Price in Rs.</th>
      <th>Category</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <body>
    <% @products.each do |product| %>
      <tr>
        <td><h3 style="color:black"><%= product.name %></h3></td>
        <td><h3 style="color:black"><%= product.price %></h3></td>
        <td><%= link_to Category.find(product.category_id).name, category_path(product.category_id), class:"btn btn-primary btn-md" %></td>
        <td><img src="<%= User.try( :image) %>" style="height: 120px; width: 150px;"></td>
        <td><%= link_to 'Show', product, class:"btn btn-info"%></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_product_path(product), class:"btn btn-success" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </body>
</table>
<br>

<%= link_to 'Back', root_path, class:"btn btn-success" %>

<style type="text/css">
  body{
    background-color: lightcyan;
    background-image: url(/assets/19.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    .dropdown-menu li:hover{
    visibility: visible;
    }
    .dropdown:hover .dropdown-menu{
      display: block;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
      background-color: #ffba98;
    }
</style>